

.holder {
  &-line {
    width: 80%;
    height: 3px;
    background-color: #768288;
    margin: auto;

  }
}

.text {
  font-size: 24px;
  text-align: center;
  padding: 15px 0;
  &-color {
    color: #407695;
  }
}