$small: 375px;
$medium: 1024px;
$medium-small: 560px;

@mixin flex($justify, $flow) {
   display: flex;
   justify-content: $justify;
   flex-flow: $flow;
}
@mixin media($media) {
   @if $media == small {
      @media only screen and (max-width: $small) { @content; }
   }
   @if $media == medium {
      @media only screen and (max-width: $medium) { @content; }
   }
   @if $media == medium-sm {
      @media only screen and (max-width: $medium-small) { @content; }
   }
}
