@import "src/assets/scss/mixins";
@import "src/assets/scss/colors";

.selectable-buttons {
  display: flex;
  flex-flow: row wrap;
  &-btn {
    border: 3px solid $lightGray;
    text-align: center;
    min-width: 100px;
    padding: 0.5rem 2rem;
    font-weight: bold;
    margin: 0 1rem 0 0;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    &.selected {
      background: $lightGray;
      color: $grayTextColor;
    }
    @include media(medium-sm) {
      width: 100%;
      margin: 0 0 1rem 0;
    }
  }
}
