@import 'src/assets/scss/colors';
.product {
   display: flex;
   justify-content: center;
   margin-bottom: 145px;
   margin-top: 30px;

   &-main {
      width: 75%;
      img {
         width: 100%;
      }
   }
   &-pack {
      display: flex;
      justify-content: space-around;
      margin: 45px 0;
      &_subtitle {
         font-size: 45px;
         color: #62964f;
      }
      &_btn {
         background-color: #eaeaea;
         font-size: 28px;
         cursor: pointer;
         height: 48px;
      }
   }
   &-box {
      display: flex;
      flex-direction: column;
      padding-left: 25px;
      width: 25%;
      &_price {
         width: fit-content;
         padding: 0 8px;
         font-size: 40px;
         font-weight: 600;
      }
      &_text {
         padding: 8px 0;
         font-size: 17px;
         color: $grayTextColor;
      }
      .product-btn {
         background-color: $lightRed;
         display: flex;
         flex-flow: row wrap;
         justify-content: center;
         align-items: center;
         border: transparent;
         cursor: pointer;
         color: white;
         font-size: 24px;
         padding: 16px 0;
         border-radius: 4px;
         outline: none;
         &:hover {
            background: darken($lightRed, 4);
         }
         &_text {
            color: white;
            margin-left: 10px;
         }
      }
   }
   &-caption {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      &_desc {
         font-size: 38px;
         margin: 20px 0;
         color: $grayTextColor;
      }
      &_text {
         font-size: 30px;
         margin-bottom: 20px;
         color: $grayTextColor;
      }
      hr {
         margin: 35px 0;
      }
   }
}

.wrap {
   background-color: #ffff;
   padding: 15px;
   box-shadow: 0 0 4px $lightGray;
   border-radius: 5px;
   font-size: 26px;
   color: $grayTextColor;
   display: flex;
   flex-flow: column wrap;
   &-title {
      font-size: 30px;
      margin: 0 0 20px;
   }
   ul {
      margin: 0;
      padding: 0;
      font-size: 20px;
      li {
         list-style: none;
      }
   }
   .formats {
      li {
         margin-bottom: 20px;
      }
   }
   .details {
      font-size: 18px;
      li {
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         border-bottom: 1px solid lighten($lightGray, 13);
         padding-bottom: 4px;
         margin-bottom: 20px;
      }
      .value {
         font-weight: 600;
         &-approved {
            color: $mainGreen;
         }
      }
   }
   .formats-btn {
      padding: 16px 0;
      text-align: center;
      font-size: 22px;
      color: white;
      background: $mainGreen;
      border-radius: 4px;
      border: none;
      outline: none;
      width: 100%;
      cursor: pointer;
      &:hover {
         background: darken($mainGreen, 5);
      }
   }
}

.product-main {
   background-color: white;
   padding: 10px;
   box-shadow: 0 0 4px $lightGray;
   border-radius: 5px;
}