@import "../../assets/scss/colors.scss";
@import "../../assets/scss/mixins.scss";

.admin {
  font-size: 16px;
  .react-tabs {
    &__tab-list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: center;
      font-size: 2rem;
    }
    &__tab {
      flex-grow: 1;
      text-align: center;
      margin-bottom: 1rem;
      background: none;
      color: $grayTextColor;
      border: none;
      cursor: pointer;
      @include media(medium) {
        font-size: 1.5rem;
      }
      @include media(medium-sm) {
        font-size: 1rem;
      }
      &--selected {
        color: lightskyblue;
        &.upload-new-product {
          color: lightblue;
        }
      }
      &:focus {
        box-shadow: none;
        outline: none;
        &:after {
          display: none;
        }
      }
    }
  }
}
.upload-new-product {
  background: lightcoral;
  padding: 0.5rem;
  color: white;
  font-size: 2rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
  list-style: none;
  @include media(medium) {
    font-size: 1.5rem;
  }
  @include media(medium-sm) {
    width: 100%;
    text-align: center;
  }
}
