@import '../../assets/scss/mixins.scss';
@import "src/assets/scss/colors";

.header {
   box-shadow: 0 0 4px $lightGray;
   padding: 10px 0;
   .container {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
   }
   img {
      height: 62px;
   }
   &-input {
      flex-grow: 1;
      text-align: center;
      input {
         width: 250px;
         font-size: 20px;
         cursor: pointer;
         padding: 5px 5px 5px 40px;
         height: 20px;
         background: url('../../assets/images/header/footer-search-icon.png') no-repeat 7px 1px;
         background-size: auto 90%;

         @include media(medium-sm) {
            display: none;
         }
      }
   }
   svg {
      font-size: 30px;
      color: $mainBlue;
      transition: color 0.3s;
      &:hover {
         cursor: pointer;
         color: darken($mainBlue, 10);
      }
   }
   &-assets{
      cursor: pointer;
      &-title {
         font-size: 22px;
         margin-left: 10px;
      }
   }
   &-cart-menu {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
   }
   &-user {
      flex-grow: 1;
      display: flex;
      justify-content: center;
   }
   &-desktop-menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      flex-grow: 1;
      @media screen and (max-width: 1024px) {
         display: none;
      }
   }
}
