.login {
   cursor: pointer;
   margin: 0 10px;
   &-not-logged {
      &:hover {
         color: yellowgreen;
      }
   }
   .text {
      margin: 0 10px;
   }
   &-menu-wrap {
      position: relative;
   }
}
