.input-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.my-custom-input {
  font-size: 24px;
  margin: 25px 0;
  border: 2px solid #c8c8c8;
}